body {
    background-color: #ffb602;
    margin: 0%;
}

.cabeçalho{
    background-color: red;
    display: inline-block;
    width: 100%;
    color: white;
    font-family: 'Permanent marker', cursive;
    font-size: 45px;
    text-align: center;
    margin: auto;
    text-shadow: 4px 4px black;
}

.imagem-topo {
    background-image: url(./imagens/BackShrimp.jpg);
    background-size: cover;
    width: 100%;
    height: 380px;
    display: block;
    
}

ul {
    background-color: white;
    margin: 0%;
    height: 65px;
}

li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 4px; 
}
.button {
    background-color: #faa200;
  border: 1px SOLID black;
  color: white;
  width: 222px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: 'comic neue', cursive; 
  margin: 4px 5px;
  cursor: pointer;
}

.button:hover {
    background-color: rgb(132, 0, 255);
    font-size: larger;
}

main {
    background-color: #ffb602;
    display: block;
    height: 1200px;
    margin-top: 10px;
}

section {
    background-color: white;
    display: block;
    height: 90%;
    width: 90%;
    margin: auto;    
}

.olhos {
    width: 300px;
    padding: 20px 20px;  
    position: absolute;
    z-index: 1;  
}

h2 {
    background-color: #ffb602;
    display: block;
    padding: 10px;
    width: 400px;
    border-radius: 10px 0px 10px 10px;
    position: absolute;
    z-index: 3;
    left: 100px;
    top: 730px
}

.balao {
    width: 350px;
    height: 215px;
    padding: 15px;
    position: absolute;
    z-index: 2;
    left:390px;
}